<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: auto;
		width: 80%;
		height: 100%;
		color: #EEEEEE;
		background-color: #141414; 
		font: 1.1rem "Share Tech Mono";
	}
</style>
